/* General */
body {
  font-family: Arial, sans-serif;
  background-color: #444; /* Fondo consistente */
  margin: 0;
  padding: 0;
  color: #fff; /* Texto blanco para contraste */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000; /* Fondo negro dentro del margen */
  color: #fff; /* Texto blanco para contraste */
  box-sizing: border-box;
}

/* Fullscreen Container */
.fullscreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #444; /* Fondo consistente */
}

/* Header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.header-logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.footer-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: #4CAF50;
}

.footer-button:hover {
  background-color: #45a049;
}

/* Search Widget */
.search-widget {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; /* Aumenta el padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #000; /* Fondo negro */
  width: 350px; /* Aumenta el ancho del widget */
}

.search-input {
  width: 100%;
  padding: 15px; /* Aumenta el padding */
  margin-bottom: 15px; /* Aumenta el margen inferior */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-button, .clear-button, .create-space-button {
  width: 48%; /* Ajusta el ancho de los botones */
  padding: 15px; /* Aumenta el padding */
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-button {
  background-color: #4CAF50;
  color: white;
}

.search-button:hover {
  background-color: #45a049;
}

.clear-button {
  background-color: #f44336;
  color: white;
}

.clear-button:hover {
  background-color: #e53935;
}

.search-result {
  margin-top: 10px;
  color: #fff;
}

/* Inventory List */
.inventory-list {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.inventory-list ul {
  list-style: none;
  padding: 0;
}

.inventory-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Notifications */
.notifications {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

/* Settings */
.settings {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

/* Inicio */
.inicio-container {
  padding: 20px;
  background-color: #444; /* Fondo consistente */
  border-radius: 8px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los contenedores horizontalmente */
}

.inicio-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px; /* Añade margen superior para aumentar el espacio */
}

.inicio-logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.inicio-title {
  font-size: 2rem;
  color: #4CAF50;
}

.inicio-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 350px; /* Aumenta el ancho del contenedor */
}

.search-result {
  margin-bottom: 20px;
}

.inicio-create-space {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.create-space-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; /* Aumenta el padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #000; /* Fondo negro */
  width: 350px; /* Aumenta el ancho del contenedor */
}

.create-space-button {
  margin-top: 20px; /* Añade margen superior al botón */
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
}

.inicio-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px; /* Aumenta el padding */
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.category-button:hover {
  background-color: #45a049;
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}

/* Banner Logo */
.banner-logo {
  position: absolute;
  bottom: -50px; /* Ajusta esta propiedad para que la mitad del logo esté dentro del banner */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="file"], select, textarea {
  padding: 15px; /* Aumenta el padding */
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px; /* Aumenta el margen inferior */
}

button {
  padding: 15px; /* Aumenta el padding */
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
}

button.green {
  background-color: #4CAF50;
  color: white;
}

button.green:hover {
  background-color: #45a049;
}

button.secondary {
  background-color: #f44336;
  color: white;
}

button.secondary:hover {
  background-color: #e53935;
}

/* Ajustes */
.ajustes-container {
  padding: 40px; /* Aumenta el padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #000; /* Fondo negro */
  width: 350px; /* Aumenta el ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ajustes-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ajuste-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px; /* Aumenta el padding */
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
}

.ajuste-button:hover {
  background-color: #45a049;
}

/* Login and Register Forms */
.login-header, .register-header {
  text-align: center;
}

.login-logo, .register-logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-input, .register-input {
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-button, .register-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover {
  background-color: #45a049;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #000; /* Fondo negro */
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form input, .register-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-form button, .register-form button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.login-form button.green, .register-form button.green {
  background-color: #4CAF50;
  color: white;
}

.login-form button.green:hover, .register-form button.green:hover {
  background-color: #45a049;
}

.login-form button.secondary, .register-form button.secondary {
  background-color: #f44336;
  color: white;
}

.login-form button.secondary:hover, .register-form button.secondary:hover {
  background-color: #e53935;
}

/* Responsive Design */
@media (max-width: 768px) {
  .inicio-search {
    flex-direction: column;
  }

  .search-button, .clear-button, .create-space-button {
    width: 100%;
  }

  .category-button {
    flex: 1 1 100%;
  }
}