.buscar-page {
  padding: 129px;
  background-color: #333;
  min-height: 100vh;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #f4f4f9;
}


.search-input {
  width: 100%;
  max-width: 2000px; /* Ajustar el ancho máximo */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px; /* Ajustar el ancho máximo */
  margin-bottom: 20px;
}

.search-button, .clear-button {
  width: 48%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-button {
  background-color: #4CAF50; /* Color verde */
  color: white;
}

.search-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clear-button {
  background-color: #f44336;
  color: white;
  
}

.clear-button:hover {
  background-color: #e53935  

}

.result-container {
  width: 100%;
  max-width: 800px; /* Af4f4f9tar el ancho máximo */
  background-color: #f4f4f9; /* Fondo de color #333 */
  padding: 20px;
  border-radius: 8px;
  color: #f4f4f9; /* Color del texto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 4px;
}

.no-results {
  text-align: center;
  color: #f8d7da;
  margin-top: 20px;
}

.category-button {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.category-button:hover {
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button .card-body {
  text-align: center;
}

.category-button .card-title {
  font-size: 18px;
  font-weight: bold;
}

.category-button .card-text {
  font-size: 14px;
  color: #666;
}