@import 'variables';

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button.green {
  background-color: $primary-color;
  color: $text-color;
}

button.green:hover {
  background-color: darken($primary-color, 10%);
}

button.secondary {
  background-color: $secondary-color;
  color: $text-color;
}

button.secondary:hover {
  background-color: darken($secondary-color, 10%);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: $dark-color;
  text-decoration: none;

  &:hover {
    background-color: $light-color;
    color: $primary-color;
  }

  &.active {
    background-color: $primary-color;
    color: $light-color;
  }
}

.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: #e01111;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #cc0000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #cc0000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.search-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-button:hover {
  background-color: #218838; /* Verde oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}