@import 'variables';

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button.green {
  background-color: $primary-color;
  color: $text-color;
}

button.green:hover {
  background-color: darken($primary-color, 10%);
}

button.secondary {
  background-color: $secondary-color;
  color: $text-color;
}

button.secondary:hover {
  background-color: darken($secondary-color, 10%);
}