.espacios-page {
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  .section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #4CAF50; /* Color verde */
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }