.inicio-page {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  background-color: #333; /* Cambia el color de fondo a #333 */
  padding: 20px; /* Ajusta el padding */
  box-sizing: border-box; /* Incluye el padding en el ancho total */

}

.inicio-header {
  margin-bottom: 20px;
  width: 100%; /* Asegura que el header ocupe todo el ancho */
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #4CAF50; /* Cambia el color del título a #4CAF50 */
}

.inicio-container {
  display: flex;
  justify-content: space-between;
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 20px;
  background-color: #333; /* Cambia el color de fondo a #333 */
  border-radius: 8px;
  color: #f4f4f9;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.left-column, .right-column {
  flex: 1;
  margin: 10px;
  background-color: #7756eeb9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-widget, .create-space-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-container-widget, .create-space-container {
  width: 100%;
  padding: 40px;
  border: 10px solid #757474;
  border-radius: 8px;
  background-color: #333; /* Cambia el color de fondo a #333 */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  margin-bottom: 20px;
  height: auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #555;
  color: #ffffff;
}

.search-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.search-button, .clear-button, .create-space-button {
  width: 48%;
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}



.create-space-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-space-button:hover {
  background-color: #45a049;
}

.categories-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.category-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin: 10px;
  transition: background-color 0.3s ease;
  border: 1px solid #555;
  background-color: #555;
  color: #f4f4f9;
}

.category-button:hover {
  background-color: #666;
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.context-menu button:hover {
  background-color: #f4f4f9;
}

.ultimos-espacios-widget {
  margin-top: 40px;
}

.ultimos-espacios-widget .row {
  display: flex;
  flex-wrap: wrap;
}

.ultimos-espacios-widget .card {
  margin-bottom: 20px;
  cursor: pointer;
}

.no-espacios {
  margin-top: 20px;
}