.inventory-list {
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #444;
    margin-bottom: 20px;
  }
  
  .inventory-list ul {
    list-style: none;
    padding: 0;
  }
  
  .inventory-list li {
    padding: 10px;
    border-bottom: 1px solid #555;
    color: #f4f4f9;
  }