.sidebar {
    background-color: #444; /* Fondo gris oscuro */
    color: #f4f4f9;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000; /* Asegura que el sidebar esté por encima de otros elementos */
  }
  
  .sidebar.visible {
    transform: translateX(0);
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-item .btn-link {
    color: #f4f4f9;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 8px;
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  
  .nav-item .btn-link:hover {
    background-color: #666;
  }

  .content {
    transition: margin-left 0.3s ease;
  }
  
  .content.sidebar-visible {
    margin-left: 250px;
  }