.sidebar {
  background-color: #1e7e34; /* Fondo verde oscuro */
  color: #f4f4f9;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000; /* Asegura que el sidebar esté por encima de otros elementos */
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  color: #1e7e34;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item .btn-link {
  color: #f4f4f9;
  text-decoration: none;
  padding: 10px 0; /* Remove side padding */
  display: block;
  width: 100%; /* Make the button span the full width */
}

.content {
  transition: margin-left 0.3s ease;
}

.content.sidebar-visible {
  margin-left: 250px;
}